@font-face {
    font-family: 'DD Custom Font';
    src: url('../fonts/ufonts.com_scala-sans-regular-lf-webfont.eot');
    src: url('../fonts/ufonts.com_scala-sans-regular-lf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_scala-sans-regular-lf-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_scala-sans-regular-lf-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_scala-sans-regular-lf-webfont.svg#scala_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-size:1em;
	font-family:'DD Custom Font','Helvetica Neue',arial,sans-serif;
	font-size:1em;
	padding:0;
	margin:0;
	background-color:#F4F4F4;
}

.wrapper {
	width:90%;
	max-width:700px;
	margin:auto;
	border:1px solid #C6C6C6;
	margin-top:30px;
	padding-bottom:30px;
	margin-bottom:30px;
	background-color:white;
}

.container__header {
	width:100%;
	background-color:#42AF4E;
	text-align:center;
}

.container__header__logo {
	height:60px;
	position:relative;
	top:2px;
}

.grid {
	display:table;
	width:100%;
	margin-top:30px;
}

.container__form__input, select {
	-webkit-appearance: none;
	background-color: whitesmoke;
	font-size: 1em;
	font-family: 'DD Custom Font','Helvetica Neue',arial,sans-serif;
	color: black;
	border: 1px solid #C6C6C6;
	background-color: #F4F4F4;
	outline: 0;
	padding: 10px 8px 10px 8px;
	margin-top:5px;
	display: block;
	width: 100%;
	border-radius:0;
}


.select--holder::after {
	content:"\25BE";
	position:relative;
	bottom:30px;
	left:70%;
	pointer-events:none;
}

.container__form__input:focus {
	border-color:#ADADAD;
}

.container__form__label {
	display:block;
	width:100%;
}

.grid__col--1-of-2#form--first--first label, .grid__col--1-of-2#form--first--first input {
  margin-left: 7%;
  margin-right: 3%;
  width:90%;
  display:block;
}

.grid__col--1-of-2#form--first--second label, .grid__col--1-of-2#form--first--second input {
  margin-left: 3%;
  margin-right: 7%;
  width:90%;
  display:block;
}

.grid .grid__col {
	margin-right:0;
}

.form--second--first {
  display: table-cell;
  left: 3.5%;
  width: 43%;
  margin-right: 3.5%;
  position: relative;
}

.form--second--second {
  display: table-cell;
  width: 46.5%;
  position: relative;
  left: 3.5%;
 }

.grid__col--4-of-6 {
   width:40%;
 }

.grid__col--2-of-6 {
   width: 43.5%;
   margin-left: 3%;
}

.grid__col--3-of-4 {
  margin-left: 0;
  left: 0;
  width: 70%;
}

.grid__col--4-of-4 {
  width: 95%;
}

.grid__col--1-of-4 {
  width: 26%;
  margin-left: 2.5%;
}

.grid--title {
  margin-top: 30px;
  margin-left: 3.5%;
  margin-bottom: 0;
}

.grid--nomargin {
	margin-top:7px;
	font-size:.9em;
	line-height:2;
}

.grid--nomargin .form--second--first {
	width:20%;
}

.input--item label {
	margin-left:5px;
}

.submit--button {
	font-size:1em;
	font-family:'DD Custom Font','Helvetica Neue',arial,sans-serif;
	-webkit-appearance:none;
	border:0;
	border-radius:3px;
	background-color:#42AF4E;
	color:white;
	padding:8px 20px 8px 20px;	
	font-size:1.1em;
	-webkit-transition:background .1s;
	cursor:pointer;
}

.submit--button:focus {
	outline:0;
	background-color:#34853D;
}